@media (min-width: 786px) {
    .for-timer {
      display: flex;
      flex-direction: row;
      z-index: 20;
      gap: 1.5rem;
      justify-content: space-between;
      align-items: end;
    }
    h2{
      font-size: 51px;
    }
    p{
      font-size: 21px;
    }
  }